<div class="profile">
    <div class="little_Angelic_Wrap">
        <div class="pic"><img src="/svgs/user_avatar.svg" alt="Dora.jpg"></div>
        <p class="name">Welcome <%- username %> ✨</p>
        <p class="link"><a href="/user/dashboard">Petrol Sales</a></p>
        <p class="link"><a href="/user/dailysales">Daily Sales</a></p>
        <p class="link"><a href="/user/totalsales">Total Sales</a></p>
        <form method="post" action="/user/signout" class="sign_out">
            <input type="submit" value="Sign out" class="signout_input">
        </form>
    </div>
</div>  