<div class="wrap_resuts">
    <span class="result">Totals</span>
    <span class="result"><%= (results.amountTotal).toFixed(3) %></span>
    <span class="result"><%= (results.litresTotal).toFixed(3) %></span>
</div>