<tr>
    <td style="border-radius: 0 !important; pointer-events: none;"><%= which %></td>
    <td style="border-radius: 0 !important; pointer-events: none;">Amount (A)</td>
    <td style="border-radius: 0 !important; pointer-events: none;">Litres (L)</td>
</tr>